<ion-view view-title="Email Address">
    <ion-content>
        <div class="row padding">
        	Your email address is used to login to Mallzee and for password recovery
        </div>

        <div class=list>

	        <label class="item item-input">
	        	<input ng-model=user.email placeholder="Email Address">
	        </label>

	        <button class="button button-full button-balanced" ng-click=updateProfile()>Save</button>
        </div>


        <div class="row padding">
        	We will never display your email to other Mallzee users
        </div>
 		<div class="row padding">
 			Read our  <a href="#/"> Privacy Policy </a>  to learn more
 		</div>
    </ion-content>
</ion-view>