<ion-view view-title=Settings>
    <ion-content>
        <div class=list>

            <!-- Privacy options -->
            <div class="item item-divider"></div>
            <a class=item href=#/walkthrough>Mallzee Walkthrough</a>
            <a class=item ng-click="window.open('http://mallzee.com/privacy-policy', '_blank', 'location=no,closebuttoncaption=Back to Mallzee');">Privacy Policy</a>
            <a class=item ng-click="window.open('http://mallzee.com/terms-and-conditions', '_blank', 'location=no,closebuttoncaption=Back to Mallzee');">Terms &amp; Conditions</a>
            <a class=item ng-click="window.open('mailto:feedback@mallzee.zendesk.com', '_blank', 'location=no,closebuttoncaption=Back to Mallzee');">Give Us Feedback</a>
        </div>
    </ion-content>
</ion-view>