<ion-view view-title="送单登记">
  <ion-content class="padding">


    <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">上班</ion-toggle>



    <div class="list card">
      <div class="item item-divider">送单登记</div>


      <label class="item item-input item-select">
        <div class="input-label">
          餐厅：
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">单号：</span>
        <input type="text">
      </label>

      <button class="button button-block button-positive">
        登记
      </button>
    </div>
    </div>
  </ion-content>
</ion-view>
