<ion-tabs class=tabs-icon-top>

    <!-- Stylefeeds Tab -->
    <ion-tab title="Style Feeds" icon="icon icon-style-feeds" ui-sref=tab.stylefeeds>
        <ion-nav-view name=tab-stylefeeds class=slide-left-right></ion-nav-view>
    </ion-tab>

    <!-- Saved Tab -->
    <ion-tab title=Saved icon="icon icon-thumb-up" style="font-size: 32px" ui-sref=tab.saved>
        <ion-nav-view name=tab-saved class=slide-left-right></ion-nav-view>
    </ion-tab>

    <!-- Inspiration Tab -->
    <ion-tab class=icon-mallzee ui-sref=tab.inspiration>
        <ion-nav-view name=tab-inspiration class=slide-left-right></ion-nav-view>
    </ion-tab>

    <!-- Brands Tab -->
    <ion-tab title=Brands icon="icon icon-brands" ui-sref=tab.brands>
        <ion-nav-view name=tab-brands class=slide-left-right></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title=Settings icon="icon icon-settings" ui-sref=tab.account>
        <ion-nav-view name=tab-account class=slide-left-right></ion-nav-view>
    </ion-tab>

</ion-tabs>